h1 {
	color: #0099aa;
	text-align: center;
}

hr {
	border: none;	
	background-color: #0099aa;
	color: #0099aa;	
	height: 2px;
}

/*p {
	text-align: center;
}
 
li {
margin-top: 10pt;
margin-left: 45%;
 }

 div {
	 text-align: left;
 }


